<body>
    <div class="container-1">
        <ul class="ul-container">
            <il>
              <a href="/" class="home-link" Style="text-decoration: none; color: white">home</a>  
            </il>
            <il class="login-link">
               <a href="/login" Style="text-decoration: none; color: white"> login </a>
            </il>
            <il class="signup-link">
                <a href="/register" Style="text-decoration: none; color: white">signup</a>
            </il>
        </ul>
    </div>
