.mainclass{
  margin: 250px;
}
.row{
    /* padding: 0px;
    margin: 0 -5px;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.column{
    margin: 30px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 20px;
  text-align: center;
  /* margin-right: 50px ; */
  background-color: #f1f1f1;
  
}

.cont-1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont-1 p{
  font-size: 50px;
}