body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container-1{
    height : 100px ;
    background-color: #00695c;
}
.ul-container{
    padding : 30px ;
}
.home-link{
    color : white ;
    padding : 20px ;
}
.login-link{
    color : white ;
    padding-left : 30px ;
    /* padding-left : 200px ; */
    float : right;
    
}
.signup-link{
    color : white ;
    padding-left : 30px ;
    float : right;
    
}