<%- include('../includes/header.ejs') %>
<%- include('../includes/navbar.ejs') %>

<% if(ops==='Mean'){ %>
    <p>mean</p>
<%}else if(ops==='STD'){%>
    <p>STD</p>
<%}else if(ops==='CHI'){%>
    <p>CHI</p>
<%}%>
<%- include('../includes/footer.ejs') %>
